body {
  font-family: 'Segoe UI', sans-serif;
  background: #F1F1F1;
  margin: 0;
}

/* HEADER */
header {
  text-align: center;
  padding: 30px;
}

header h1 {
  margin: 0;
  font-size: 28px;
  color: #246f43;
}

header p {
  color: #666;
}

/* FILTROS */
.filtros {
  text-align: center;
  margin-bottom: 20px;
}

.filtros button {
  font-size: large;
  margin: 5px;
  padding: 8px 15px;
  border: none;
  border-radius: 20px;
  background: #ddd;
  cursor: pointer;
}

/* GRID */
.contenedor {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

/* TARJETAS */
.tarjeta {
  width: 332px;
  height: 429px;
  background: #ffff;
  border-radius: 12px;
  overflow: hidden;
  color: white;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.tarjeta img {
  width: 100%;
  height: 201px;
  object-fit: cover;
}

.contenido {
  padding: 15px;
}

.contenido h3 {
  margin: 0;
  font-size: 19px;
  color: #251e1e;
}

.contenido p {
  font-size: 13px;
  color: #666;
}

/* CHIPS */
.chips {
  margin: 10px 0;
  display: flex;
  justify-content: space-around;
}

.chips span {
  display: inline-block;
  background: #c9c2c2;
  padding: 5px 8px;
  margin: 3px;
  border-radius: 8px;
  font-size: 13px;
  color: black;
}

/* BOTONES */
.botones {
  display: flex;
  justify-content: space-around;
}

.ver {
  background: #c9c2c2;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  color: black;
}

.guardar {
  background: #c9c2c2;
  border: 1px solid #aaa;
  color: black;
  padding: 6px 10px;
  border-radius: 6px;
}

/* VOLVER */
.volver {
  display: block;
  width: fit-content;
  margin: 30px auto;
  padding: 10px 20px;
  background: #246f43;
  color: white;
  text-decoration: none;
  border-radius: 8px;
}
/* cuando el menu es lateral */
@media (min-width: 900px) {

  body {
    margin-top: 0;
    margin-left: 230px;
  }

}
/* cuando el menu está arriba (celular / tablet) */
@media (max-width: 899px) {

  body {
    margin-top: 80px;
    margin-left: 0;
  }

}
