body {
  font-family: 'Segoe UI', sans-serif;
  background: #f4f6f5;
  margin: 0;
}

/* HEADER */
header {
  text-align: center;
  padding: 30px;
}

header h1 {
  margin: 0;
  font-size: 28px;
}

header p {
  color: #666;
}

/* FILTROS */
.filtros {
  text-align: center;
  margin-bottom: 20px;
}

.filtros button {
  font-size: large;
  margin: 5px;
  padding: 8px 15px;
  border: none;
  border-radius: 20px;
  background: #ddd;
  cursor: pointer;
}

/* GRID */
.contenedor {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

/* TARJETAS */
.tarjeta {
  width: 332px;
  height: 429px;
  background: #2f2f2f;
  border-radius: 12px;
  overflow: hidden;
  color: white;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.tarjeta img {
  width: 100%;
  height: 201px;
  object-fit: cover;
}

.contenido {
  padding: 15px;
}

.contenido h3 {
  margin: 0;
  font-size: 16px;
}

.contenido p {
  font-size: 13px;
  color: #ccc;
}

/* CHIPS */
.chips {
  margin: 10px 0;
  display: flex;
  justify-content: space-around;
}

.chips span {
  display: inline-block;
  background: #4caf50;
  padding: 5px 8px;
  margin: 3px;
  border-radius: 8px;
  font-size: 11px;
}

/* BOTONES */
.botones {
  display: flex;
  justify-content: space-around;
}

.ver {
  background: #4caf50;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  color: white;
}

.guardar {
  background: transparent;
  border: 1px solid #aaa;
  color: white;
  padding: 6px 10px;
  border-radius: 6px;
}

/* VOLVER */
.volver {
  display: block;
  width: fit-content;
  margin: 30px auto;
  padding: 10px 20px;
  background: #2e7d32;
  color: white;
  text-decoration: none;
  border-radius: 8px;
}